@model CategoryModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Kategori Güncelleme</h3>
            <form class="forms-sample" method="post">
                @Html.HiddenFor(x=>x.Id)
                <div class="form-group">
                    <label for="exampleInputName1">Kategori Adı</label>
                    <input type="text" class="form-control" id="exampleInputName1" asp-for="Name">
                    <span asp-validation-for="Name" class="text-dange"></span>
                </div>
                <button type="submit" class="btn btn-info me-2">Güncelle</button>
            </form>
        </div>
    </div>
</div>



