<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Tooplate">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>ArtXibition HTML Event Template</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/2125_artxibition/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/2125_artxibition/assets/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="~/2125_artxibition/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="~/2125_artxibition/assets/css/tooplate-artxibition.css">
    <!--

    Tooplate 2125 ArtXibition

    https://www.tooplate.com/view/2125-artxibition

    -->
</head>
